[Unit]
# 必须执行网络
Requires=network-online.target
# 在网络启动后启动程序
After=network-online.target ENS210_systemd.service

[Service]
Type=simple
User=pi
Group=pi
Restart=on-failure
RestartSec=5s
WorkingDirectory=/home/pi/environment_check/sensor/ 
# 需要自启动的代码
ExecStart=/usr/bin/python /home/pi/environment_check/sensor/begin.py

[Install]
WantedBy=multi-user.target
